@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
  
}

:root {
  --cor1:#F5A238 ;
  --cor2:#F5D138;
  --cor3: #F5BA38;
  --cor4:#F49152;
  --cor5:#F5E738 ;
  --cor6:#F5D38A; 

}

   body {
      font-family: 'Amatic SC', cursive;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
      background: var(--cor1);
      
    }

    /* cabeçalho menu */
    header {
      background: var(--cor1);
      
      padding: 40px 20px;
      text-align: center;
    }
    
    #sobremim{
      margin-top: 20px;
      
    }

  
    section {
      
      padding: 40px 20px;
      max-width: 1000px;
      margin: auto;
      background: var(--cor3);
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
    }
    h2 {
      
      margin-bottom: 10px;
    }
    .stats {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      
    }
    .stat {
      background: #ecf0f1;
      height: 300px;
      padding: 20px;
      margin: 10px;
      border-radius: 6px;
      flex: 1 1 200px;
      text-align: center;
      position: relative;
      
    }
    /* ESTATISTICA */
    #instagram {
      background-size: cover;
      background-position: center;
      color: rgb(20, 17, 17);
      text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    }
    #tiktok {
      background-size: cover;
      background-position: center;
      color: rgb(17, 16, 16);
      text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    }
    .orverlay {
      
      bottom: 20px;
      left: 20px;
      background: rgba(238, 238, 238, 0.877);
      padding: 10px;
      border-radius: 4px;
      top: 130px;
      height: 130px;
      width: 90%;
      position: absolute;
    
      
    }

    /* ESTATISTICA FIM*/

   
   
    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 15px;
      margin-top: 20px;
    
      
    }
    .gallery img {
      width: 100%;
      height: auto;
      border-radius: 6px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      transition: transform 0.3s ease;
    }
    .gallery img:hover {
      transform: scale(1.05);
    }
    footer {
      text-align: center;
      padding: 20px;
      background: #000000;
      color: white;
    }
    a {
      
      text-decoration: none;
    }

/*Estilo botao social*/

#btnsocial button{
  background: var(--cor3);
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30%;
  
}

#btnsocial button:hover{
  background: black;
  color: white;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#btnsocial{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
/*Estilo botão social*/

/*Estilo contato*/

#contato p{
  margin: 10px 0;
  font-size: 1.2rem;
  padding: 5px 5%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}





/*Estilo media*/
@media screen and (max-width: 1028px) {
    body{
        font-size: 1.5rem;
    }
    .interface {
        padding: 0 10px;
        border-radius: 5px;
    }
    
    .flex {
        flex-direction: column-reverse;
    }

    #contato p{
      font-size: 1.5rem;
    }

    .txtanimado {
      font-size: 1rem;
      font-weight: bold;
    }


    
}

/*Estilo media fim*/

/* Animação começo */

#txtanimado{
  background-color: var(--cor1);
  border: none;
}
.txtanimado{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  overflow: hidden;
  
}
.txtanimado span{
  position: relative;
}

.txtanimado span::before{
  content: " ";
  color: rgb(216, 20, 20);
  animation : palavra 30s linear infinite;
}

.txtanimado span::after{
  content: '';
  position: absolute;
  height: 100%;
}

.txtanimado span::after{
  content: " ";
  position: absolute;
  height: 100%;
  border-left: 2px solid black;
  right: -10px;
  animation: cursor 7s infinite, digita 20s steps(15) infinite;
  width: calc(100% + 13px); 
  background-color: var(--cor1);
}

@keyframes digita{
    10%,15%,30%,35%, 50%,55%,70%,90% , 95% {
        width: 0;
    }

    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 13px);
    }
}

@keyframes cursor {
    0% {
         border-left: 2px solid rgb(0, 0, 0);
    }
    
}
@keyframes palavra {
    0%, 5%{
        content: "enha!";
    }
    34%, 66%{
        content: "amos nos unir,";
    }
    67%, 80%{
        content: "encer!";
    }
    100%{
        content: "AL GOMES";
    }
    
        


}

/* Animação fim */